body {
    background-color: #EDE2D6;
}
/* Optional: Add some transition effects */
.slideshow-section {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
}

.slideshow-container {
  position: relative;
  width: 100%;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  border-radius: 12px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 10px;
  color: white;
  background: rgba(0,0,0,0.4);
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.fade {
  animation: fade 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 5px;
  background-color: gray;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot:hover {
  background-color: navy;
}

.active {
  background-color: rgb(168, 223, 168);
}

.hr {

    color: rgb(21, 230, 25);
}
.trustpilot{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    height: 550px;
margin-bottom: 100px;
}

.trustimg{
    width: 700px;
    height: 700px;
    object-fit: contain;
 margin-top: 89px;
    margin-left: -900px;
}

.breakline{
border-color: rgb(138, 132, 132);
margin: 100px;
}

#breakline-specs{
border-color: rgb(138, 132, 132);
margin-top: 30px;
margin-left: 100px;
margin-right: 100px;
}